.elefloat {
    float: right;
}
.nav-background{
    background: #f8f9fd !important;
}
.main{
    margin-top: 200px;
}
.contact-me{
text-align: center
}
.textt{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 12px;

}
